.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal {
  background-color: rgb(250, 204, 136);
  border: 1px solid rgb(73, 120, 3);
  height: 25vh;
  width: 25vw;
}
