

.App {
  align-items: center;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

button {
  height: 3vh;
  width: 4vw;
  margin: 2%;

}

.modal {
  background-color: rgb(26, 209, 75);
  border: 2px solid orange;
  border-radius: 4px;
  color: darkslategray;
  font-size: larger;
  font-weight: bold;
  height: 25vh;
  width: 25vw;
}
